-
    var products = [];
    for (i=0;i<locals.length;i++) {
        products.push(processProduct(locals[i]));
    }
    function processProduct(p) {

        return [{
            "label":"Manufacturer",
            "type":"alpha",
            "value":p.info.brand,
            "link":p.url,
            "mobile":true
        },{
            "label":"Strain",
            "type":"alpha",
            "value":p.info.strain,
            "link":p.url,
            "mobile":true
        },{
            "label":"Dispensary",
            "type":"alpha",
            "value":p.info.dispensary,
            "mobile":true            
        },{
            "label":"THC %",
            "type":"number",
            "value":parseFloat(p.info.listed_thc_percentage.replace("%","")) + "%",
            "mobile":true 
        },{
            "label":"Grams Purchased",
            "type":"number",
            "value":p.info.weight,
            "mobile":false           
        },{
            "label":"$/Gram",
            "type":"number",
            "value":"$" + parseFloat(p.info.cost / p.info.weight).toFixed(2),
            "mobile":true          
        },{
            "label":"Packaged",
            "type":"date",
            "value":p.info.package_date,
            "mobile":false           
        },{
            "label":"Purchased",
            "type":"date",
            "value":p.info.purchase_date,
            "mobile":false            
        },{
            "label":"Taste",
            "type":"number",
            "value":p.scores.taste,
            "mobile":false            
        },{
            "label":"Appearance",
            "type":"number",
            "value":p.scores.quality,
            "mobile":false            
        },{
            "label":"Strength",
            "type":"number",
            "value":p.scores.strength,
            "mobile":false            
        },{
            "label":"Total",
            "type":"number",
            "value":parseInt(p.scores.taste) + parseInt(p.scores.quality) + parseInt(p.scores.strength),
            "mobile":true         
        }]

    }

.grid-table.sortable
    .table-header
        .table-header-row.table-row.header-header
            .table-header-cell.table-cell.source-header(colspan="3")
                p Source
            .table-header-cell.table-cell.details-header(colspan="5")
                p Deets
            .table-header-cell.table-cell.score-header(colspan="4")
                p Scores
        .table-header-row.table-row
            each header in products[0]
                .table-header-cell.table-cell(class=header.mobile ? header.type : header.type + " hide-mobile")
                    p!=header.label
                    .sort-table-arrows
                        button.button(data-sort=header.label.toLowerCase().replace(/\W/g, ''),data-direction="true",data-type=header.type, title="Sort by " + header.label)
                            i.fa.fa-chevron-up
                        button.button(data-sort=header.label.toLowerCase().replace(/\W/g, ''),data-direction="false",data-type=header.type, title="Sort by " + header.label)
                            i.fa.fa-chevron-down
    .table-body
        each product in products
            .table-body-row.table-row
                each item in product
                    .table-body-cell.table-cell(class=item.mobile ? item.type : item.type + " hide-mobile")
                        if (item.link)
                            a(href=item.link)
                                p(class=item.label.toLowerCase().replace(/\W/g, ''))!=item.value
                        else
                            p(class=item.label.toLowerCase().replace(/\W/g, ''))!=item.value